<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart">
  <div class="offcanvas-header justify-content-center">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="order-md-last">
      <div class="d-flex justify-content-center">
        <img src="images/avatar.png" class="profile-img" style="border-radius: 50%;">
    </div>

    <h4 class="d-flex justify-content-center my-3">
        <span class="text-secondary">{{ userProfile.full_name}}</span>
    </h4>


      <!-- <div class="justify-content-center">
        
      </div> -->
      <!-- <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Growers cider</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">₹12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Fresh grapes</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">₹8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Heinz tomato ketchup</h6>
            <small class="text-body-secondary">Brief description</small>
          </div>
          <span class="text-body-secondary">₹5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>₹20</strong>
        </li>
      </ul> -->

      <button class="w-100 btn btn-primary btn-lg" (click)="logout()" type="submit">Logout</button>
    </div>
  </div>
  <!-- <div class="container mt-4">
    <h2 class="mb-4">User Profile</h2>
   
    <div class="text-center">
      <img [src]="userProfile.image || 'assets/default-avatar.png'" alt="Profile Picture" class="rounded-circle profile-img">
      <input type="file" (change)="onFileSelected($event)" class="d-block mt-2">
      <button (click)="uploadProfilePicture()" class="btn btn-primary mt-2">Upload</button>
    </div>
  
    <form [formGroup]="profileForm" class="mt-4">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" [readonly]="!isEditing">
      </div>
  
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
  
      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" formControlName="phone" [readonly]="!isEditing">
      </div>

      <div class="d-flex justify-content-between">
        <button></button> -->
  </div>

<!-- Side Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">

  <div class="offcanvas-header justify-content-between">
    <h4 class="fw-normal text-uppercase fs-6">Menu</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">

    <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
      <li *ngFor="let cat of data" class="nav-item border-dashed active">
        <a [routerLink]="['/category', cat._id]" (click)="getProductByCat(cat._id)" class="nav-link d-flex align-items-center gap-3 text-dark p-2" data-bs-dismiss="offcanvas" >
            <span>{{cat.category_name}}</span>
        </a>
    </li>
      <!-- <li class="nav-item border-dashed active">
        <a href="index.html" class="nav-link d-flex align-items-center gap-3 text-dark p-2">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="#fruits"></use>
          </svg>
          <span>Fruits and vegetables</span>
        </a>
      </li> -->
    </ul>

  </div>

</div>
<!-- Nav Bar -->
<header class="hstyle">
  <div class="container-fluid">
    <div class="row py-3 border-bottom align-items-center">


      <div class="col-sm-4 col-lg-2 d-flex align-items-center justify-content-between">
        <a href="index.html">
          <img src="images/glowvana-logo-trans-1.png" alt="logo" class="img-fluid">
        </a>
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="#menu"></use>
          </svg>
        </button>
      </div>
      

      <!-- <div
        class="col-sm-4 col-lg-2 text-center text-sm-start d-flex gap-3 justify-content-center justify-content-md-start">
        <div class="d-flex align-items-center w-75">
          <a href="index.html">
            <img src="images/glowvana-logo-trans-1.png" alt="logo" class="img-fluid">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="#menu"></use>
          </svg>
        </button>
      </div> -->

      <div class="d-flex justify-content-between align-items-center col-lg-4">
        <!-- Category Select -->
        <div class="bg-light rounded-4 p-2 flex-shrink-0" style="min-width: 200px;">

          <!-- <li *ngFor="let cat of data" class="nav-item border-dashed active">
            <a [routerLink]="['/category', cat._id]" (click)="getProductByCat(cat._id)" class="nav-link d-flex align-items-center gap-3 text-dark p-2" data-bs-dismiss="offcanvas" >
                <span>{{cat.category_name}}</span>
            </a>
        </li> -->

          <select  class="form-select border-0 bg-transparent">
            <option>All Categories</option>
            <option>Groceries</option>
            <option>Drinks</option>
            <option>Chocolates</option>
          </select>
        </div>
      
        <!-- Search Bar -->
        <div class="bg-light rounded-4 p-2 flex-grow-1 ms-3">
          <form id="search-form" action="index.html" method="post">
            <input
              type="text"
              class="form-control border-0 bg-transparent"
              placeholder="Search for more than 20,000 products"
            >
          </form>
        </div>

        <div class="bg-light rounded-4 p-2 ms-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/></svg>
        </div>
      </div>
      
      <!-- <div class="col-sm-6 offset-sm-2 bg-light rounded-4 offset-md-0 col-lg-4">
          <div class="col-md-4 d-none d-md-block">
            <select class="form-select border-0 bg-transparent">
              <option>All Categories</option>
              <option>Groceries</option>
              <option>Drinks</option>
              <option>Chocolates</option>
            </select>
          </div>
          <div class="search-bar row bg-light p-2 rounded-4">
            <div class="col-11 col-md-7">
              <form id="search-form" class="text-center" action="index.html" method="post">
                <input type="text" class="form-control border-0 bg-transparent" placeholder="Search for more than 20,000 products">
              </form>
            </div>
            <div class="col-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/></svg>
            </div>
          </div>
        </div> -->

      <div class="col-lg-4">
        <ul
          class="navbar-nav list-unstyled d-flex flex-row gap-3 gap-lg-5 justify-content-center flex-wrap align-items-center mb-0 fw-bold text-uppercase text-dark">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" routerLink="/products">Products</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pe-3" role="button" id="pages" data-bs-toggle="dropdown"
              aria-expanded="false">Pages</a>
            <ul class="dropdown-menu border-0 p-3 rounded-0 shadow" aria-labelledby="pages">
              <li><a href="index.html" class="dropdown-item">About Us </a></li>
              <li><a class="nav-link" routerLink="/products" class="dropdown-item">Shop </a></li>
              <li><a class="nav-link" routerLink="/myorders" class="dropdown-item">My Orders </a></li>
              <li><a href="index.html" class="dropdown-item">Cart </a></li>
              <li><a href="index.html" class="dropdown-item">Checkout </a></li>
              <li><a href="index.html" class="dropdown-item">Blog </a></li>
              <li><a href="index.html" class="dropdown-item">Single Post </a></li>
              <li><a href="index.html" class="dropdown-item">Styles </a></li>
              <li><a href="index.html" class="dropdown-item">Contact </a></li>
              <li><a href="index.html" class="dropdown-item">Thank You </a></li>
              <li><a href="index.html" class="dropdown-item">My Account </a></li>
              <li><a href="index.html" class="dropdown-item">404 Error </a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-sm-8 col-lg-2 d-flex gap-5 align-items-center justify-content-center justify-content-sm-end">
        <ul class="d-flex justify-content-end list-unstyled m-0">
          <li>
            <a href="/userProfile" class="p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
            aria-controls="offcanvasCart">
              <svg width="24" height="24">
                <use xlink:href="#user"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/wishlist" class="p-2 mx-1">
              <svg width="24" height="24">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
          </li>
          <li>
            <a routerLink="/cart" class="p-2 mx-1">
              <svg width="24" height="24">
                <use xlink:href="#shopping-bag"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>