<section class="py-5">
    <div class="container-lg">
        <button class="btn btn-outline-secondary mb-3" (click)="goBack()">Back to Products</button>

      <!-- <a routerLink="/products" class="btn btn-outline-secondary mb-3">Back to Products</a> -->
      <div *ngIf="product" class="row">
        <div class="col-md-6">
          <img [src]="product.product_img[0]" class="img-fluid rounded" alt="{{ product.product_name }}">
        </div>
        <div class="col-md-6">
          <h2>{{ product.product_name }}</h2>
          <p><strong>Price:</strong> ₹{{ product.price }}</p>
          <p><strong>Stock:</strong> {{ product.stock_quantity }}</p>
          <p><strong>Description:</strong> {{ product.description }}</p>
          <button (click)="addToCart(product)" class="btn btn-success">Add to Cart</button>
        </div>
      </div>
    </div>
  </section>
  