<section class="py-5">
    <div class="container-lg">
        <button class="btn btn-outline-secondary mb-3" (click)="goBack()">Back to Products</button>

      <!-- <a routerLink="/products" class="btn btn-outline-secondary mb-3">Back to Products</a> -->
      <div *ngIf="product" class="row">
        <div class="col-md-6">
          <img [src]="product.product.product_img" class="img-fluid rounded" alt="{{ product.product.product_name }}">
        </div>
        <div class="col-md-6">
          <div class="d-flex">
            <h2 class="align-items-center">{{ product.product.product_name }}</h2>
            <a href="#" class="btn ms-5"><svg width="25" height="25"><use xlink:href="#heart"></use></svg></a>
          </div>
          <p><strong>Price:</strong> ₹{{ product.product.price }}</p>
          <p><strong>Stock:</strong> {{ product.product.stock_quantity }}</p>
          <p><strong>Description:</strong> {{ product.product.description }}</p>
          <button (click)="addToCart(product._id,product.seller_id)" class="btn btn-success">Add to Cart</button>
        </div>
      </div>
    </div>
  </section>
  